#about p{
	font-family: sans-black;
	font-size: 2vw;
	margin: 5vw 15vw 15vw 15vw;
	color: var(--pinkish);
  	background-color: var(--reddish);
}

#about p #logo{
	width: 10vw;
	transition: width .3s ease;
}

#about p #logo:hover{
	width: 11vw;
}

#about{
	background-color: var(--reddish);
}